@import "./components/Buttons/buttons.scss";
@import "./components/RacesList/races-list.scss";
@import "./components/Scoreboard/scoreboard.scss";

* {
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
}

body {
    background: #e7efec;
    color: #2f2f2f;
    height: 100%;
    display: flex;
    justify-content: center;
}